.logo{
	background-color: #BDBB83 ;
	height: 150px;
	width: 200px;
	position: absolute;
}	
body{
	padding: 0;
	padding: 100px;
	padding-right: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: 'Open Sans', sans-serif;
}	
.navBar{
	position: absolute;
	top: 23%;
	margin: auto;
	font-weight: 700;
	color: black;
	padding-top: 20px;
	border-top: 5px solid #e5e9f6;
}
.navItem{
	display:inline;
	margin-right: 100px;
	padding-right: 100px;
	color: black;
	font-weight: 700;
}
.navItem:hover{
	color: #BDBB83;
	text-decoration: none;
}
.mainBody{
	background-color: #f9fafe;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	min-height: 100%;
	min-width: 100%;
	top: 40%;
}
#slides {
      display:none;
      padding: 100px;
      padding-top: 0px;
      padding-bottom: 0px;
}
.shortLinksWrapper{
	padding-left: 100px;
	padding-top: 10px;
	letter-spacing: 2px;
}
.oneSlide,.twoSlide,.threeSlide{
	background-color: #E0E1E4;
	height: 300px;
	padding: 50px;
	padding-left: 50px;
}
.threeSlides{
	padding: 100px;
	padding-top: 0px;

}
.threePanes{
	padding: 100px;
}
.onePanelHeader,.twoPanelHeader,.threePanelHeader{
	border-left: 5px solid #BDBB83;
	text-decoration: none;
	padding-left: 10px;
	color:#a0a3ac;
	letter-spacing: 1px;
	font-family:'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
}
.onePanelHeader:hover,.twoPanelHeader:hover,.threePanelHeader:hover{
	text-decoration: none;
}
.tinyLinks{
	float: right;
	text-decoration: none;
	letter-spacing: 1px;
	color: black;
}
.dev,.abt,.cnt{
	margin-top: 3px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.dev:hover,.abt:hover,.cnt:hover{
	text-decoration: none;
	cursor: pointer;
	border-left: 1px solid #BDBB83;
}
.logoImg{
	width: 90%;
	height: 60%;
	margin-top: 20%;
}
.featureB1,.featureB2,.featureB3{
	margin-top: 20px;
	width: 300px;
	height: 70px;
	border: none;
	display: block;
}
.featureB1{
	background-color: #66c698;
}
.featureB2{
	background-color: #c7c8cb;
}
.featureB3{
	background-color: #ffd866;
}
.featureB1:hover,.featureB2:hover,.featureB3:hover{

}